.banner_text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold; 
  }

  .banner_span{
    padding: 10px 50px;
  }

  .banner_span{
    @media screen and (max-width: 600px){
      padding: 10px 15px;
    }
    @media screen and (max-width: 365px){
      padding: 10px px;
      font-size: 1.35rem;
      font-weight: bolder;
    }
    @media screen and (max-width: 330px){
      padding: 10px 5px;
      font-size: 1.25rem;
    }     
  }

  .flex-banner-container {
    display: flex;
    align-items: center;
    justify-content: left; 
    flex-wrap: wrap;    
  }

  .image_div{
    width: 50%;
    display: flex;
    justify-content: right;
    background: #000000;
    @media screen and (max-width: 980px){
      overflow:hidden;
      justify-content: center;
    }
    @media screen and (max-width: 800px){
      width:100%;
      justify-content: center;
    }
    @media screen and (max-width: 500px){
      overflow:hidden;
      justify-content: center;
    }
  }

  .logo_div{
    width:50%;
    display: flex;
    color: #ffffff;
    padding-left: 30px;
    @media screen and (max-width: 800px){
      width:100%;
      justify-content: center;
    }  
  }

  .banner{
    background: #534949;
    width: 100%;
  }