.restaurant-wrapper{
    width: 100%;
    background: #966b48;
    padding: .5rem 1rem;
}

.restauant-card{
    border-radius: 7px;
    border-width: .05rem;
    border-style: solid;
    border-color: black;
    background: #272323;
    padding: 1rem;
}

.name_div{
    font-size: 1.2rem;
}